@import 'open-props/media';

html {
	/* font */
	--font-sans: 'Plus Jakarta Sans', sans-serif;
	--font-size-1: 12px;
	--font-size-2: 13px;
	--font-size-3: 15px;
	--font-size-4: 18px;
	--font-size-5: 20px;
	--font-size-6: 24px;

	/* colors */
	--primary-1: hsl(242 48% 58%);
	--primary-1-hsl: 242 48% 58%;
	--primary-2: hsl(243 100% 82%);
	--danger-1: hsl(0 78% 63%);
	--danger-2: hsl(0 100% 80%);
	--overlay: hsl(0 0% 0% / 50%);

	/* dark */
	--text-dark-1: hsl(0 0% 100%);
	--text-dark-1-hsl: 0 0% 100%;
	--text-dark-2: hsl(216 15% 57%);
	--text-dark-2-hsl: 216 15% 57%;
	--surface-dark-1: hsl(235 16% 15%);
	--surface-dark-2: hsl(235 12% 19%);
	--bg-dark: var(--surface-dark-1);
	--border-dark: hsl(236 11% 27%);

	/* light */
	--text-light-1: hsl(0 0% 0%);
	--text-light-1-hsl: 0 0% 0%;
	--text-light-2: hsl(216 15% 57%);
	--text-light-2-hsl: 216 15% 57%;
	--surface-light-1: hsl(220 69% 97%);
	--surface-light-2: hsl(0 0% 100%);
	--bg-light: var(--surface-light-1);
	--border-light: hsl(221 69% 94%);
}

:root {
	color-scheme: dark;

	--text-1: var(--text-dark-1);
	--text-1-hsl: var(--text-dark-1-hsl);
	--text-2: var(--text-dark-2);
	--text-2-hsl: var(--text-dark-2-hsl);
	--surface-1: var(--surface-dark-1);
	--surface-2: var(--surface-dark-2);
	--bg: var(--bg-dark);
	--border: var(--border-dark);
}

@media (--OSlight) {
	:root {
		color-scheme: light;

		--text-1: var(--text-light-1);
		--text-1-hsl: var(--text-light-1-hsl);
		--text-2: var(--text-light-2);
		--text-2-hsl: var(--text-light-2-hsl);
		--surface-1: var(--surface-light-1);
		--surface-2: var(--surface-light-2);
		--bg: var(--bg-light);
		--border: var(--border-light);
	}
}

[color-scheme='dark'] {
	color-scheme: dark;

	--text-1: var(--text-dark-1);
	--text-1-hsl: var(--text-dark-1-hsl);
	--text-2: var(--text-dark-2);
	--text-2-hsl: var(--text-dark-2-hsl);
	--surface-1: var(--surface-dark-1);
	--surface-2: var(--surface-dark-2);
	--bg: var(--bg-dark);
	--border: var(--border-dark);
}

[color-scheme='light'] {
	color-scheme: light;

		--text-1: var(--text-light-1);
		--text-1-hsl: var(--text-light-1-hsl);
		--text-2: var(--text-light-2);
		--text-2-hsl: var(--text-light-2-hsl);
		--surface-1: var(--surface-light-1);
		--surface-2: var(--surface-light-2);
		--bg: var(--bg-light);
		--border: var(--border-light);
}

html,
body {
	height: 100%;
}

html {
	color: var(--text-1);
	accent-color: var(--primary-1);
	background-color: var(--bg);
	font-weight: var(--font-weight-500);
	font-size: var(--font-size-2);
}

ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-inline-start: 0;
}

button {
	background-color: transparent;
	color: var(--text-2);
	padding: 0;
}

a {
	color: inherit;
	padding: 0;
	text-decoration: none;
}

.surface-1 {
	background-color: var(--surface-1);
	color: var(--text-2);
}

.surface-2 {
	background-color: var(--surface-2);
	color: var(--text-2);
}

.surface-primary-1 {
	background-color: var(--primary-1);
	color: white;
}

.surface-primary-2 {
	background-color: var(--primary-2);
	color: white;
}

.heading-xl,
.heading-l,
.heading-m,
.heading-s,
.body-m {
	font-weight: var(--font-weight-7);
}

.heading-xl {
	font-size: var(--font-size-4);
}

@media (--md-n-above) {
	.heading-xl {
		font-size: var(--font-size-5);
	}
}

@media (--lg-n-above) {
	.heading-xl {
		font-size: var(--font-size-6);
	}
}

.heading-l {
	font-size: var(--font-size-4);
}

.heading-m {
	font-size: var(--font-size-3);
}

.heading-s {
	font-size: var(--font-size-1);
}

.body-l {
	font-size: var(--font-size-2);
}

.body-m {
	font-size: var(--font-size-1);
}

.btn {
	border-radius: var(--radius-4);
	font-weight: var(--font-weight-7);
	padding-inline: var(--size-3);
	padding-block: var(--size-2);
	transition: background-color ease-in 150ms;

	&.large {
		font-size: var(--font-size-3);
		padding-block: var(--size-3);
		padding-inline: var(--size-5);
	}

	&.primary {
		background-color: var(--primary-1);
	}

	&.primary:hover {
		background-color: var(--primary-2);
	}

	&.secondary {
		background-color: hsl(var(--primary-1-hsl) / 10%);
		color: var(--primary-1);
	}

	&.secondary:hover {
		background-color: hsl(var(--primary-1-hsl) / 25%);
	}

	&.danger {
		background-color: var(--danger-1);
	}

	&.danger:hover {
		background-color: var(--danger-2);
	}

	&:is(.primary, .danger) {
		color: white;
	}

	@media (--OSdark) {
		&.secondary {
			background-color: white;
			color: var(--primary-1);
		}
	
		&.secondary:hover {
			background-color: white;
		}
	
	}
}

.input {
	border-radius: var(--radius-2);
	border: 1px solid hsl(var(--text-2-hsl) / 25%);
	outline: none;
	color: var(--text-1);
	padding-inline: var(--size-3);
	padding-block: var(--size-2);
	background-color: var(--surface-2);
	width: 100%;
}

.input:focus {
	border-color: var(--primary-1);
}

.overlay {
	background-color: var(--overlay);
	position: fixed;
	inset: 0;
	z-index: 50;
}
