@import 'open-props/media';

html {
	/* font */
	--font-sans: 'Plus Jakarta Sans', sans-serif;
	--font-size-1: 12px;
	--font-size-2: 13px;
	--font-size-3: 15px;
	--font-size-4: 18px;
	--font-size-5: 20px;
	--font-size-6: 24px;

	/* colors */
	--primary-1: hsl(242 48% 58%);
	--primary-1-hsl: 242 48% 58%;
	--primary-2: hsl(243 100% 82%);
	--danger-1: hsl(0 78% 63%);
	--danger-2: hsl(0 100% 80%);
	--overlay: hsl(0 0% 0% / 50%);

	/* dark */
	--text-dark-1: hsl(0 0% 100%);
	--text-dark-1-hsl: 0 0% 100%;
	--text-dark-2: hsl(216 15% 57%);
	--text-dark-2-hsl: 216 15% 57%;
	--surface-dark-1: hsl(235 16% 15%);
	--surface-dark-2: hsl(235 12% 19%);
	--bg-dark: var(--surface-dark-1);
	--border-dark: hsl(236 11% 27%);

	/* light */
	--text-light-1: hsl(0 0% 0%);
	--text-light-1-hsl: 0 0% 0%;
	--text-light-2: hsl(216 15% 57%);
	--text-light-2-hsl: 216 15% 57%;
	--surface-light-1: hsl(220 69% 97%);
	--surface-light-2: hsl(0 0% 100%);
	--bg-light: var(--surface-light-1);
	--border-light: hsl(221 69% 94%);

	/* size */
	--sidebar-width: 260px;
	--header-height: 64px;
}

@media (--lg-n-above) {
	html {
		--sidebar-width: 300px;
		--header-height: 80px;
	}
}

:root {
	color-scheme: dark;

	--text-1: var(--text-dark-1);
	--text-1-hsl: var(--text-dark-1-hsl);
	--text-2: var(--text-dark-2);
	--text-2-hsl: var(--text-dark-2-hsl);
	--surface-1: var(--surface-dark-1);
	--surface-2: var(--surface-dark-2);
	--bg: var(--bg-dark);
	--border: var(--border-dark);
}

@media (--OSlight) {
	:root {
		color-scheme: light;

		--text-1: var(--text-light-1);
		--text-1-hsl: var(--text-light-1-hsl);
		--text-2: var(--text-light-2);
		--text-2-hsl: var(--text-light-2-hsl);
		--surface-1: var(--surface-light-1);
		--surface-2: var(--surface-light-2);
		--bg: var(--bg-light);
		--border: var(--border-light);
	}
}

[color-scheme='dark'] {
	color-scheme: dark;

	--text-1: var(--text-dark-1);
	--text-1-hsl: var(--text-dark-1-hsl);
	--text-2: var(--text-dark-2);
	--text-2-hsl: var(--text-dark-2-hsl);
	--surface-1: var(--surface-dark-1);
	--surface-2: var(--surface-dark-2);
	--bg: var(--bg-dark);
	--border: var(--border-dark);
}

[color-scheme='light'] {
	color-scheme: light;

		--text-1: var(--text-light-1);
		--text-1-hsl: var(--text-light-1-hsl);
		--text-2: var(--text-light-2);
		--text-2-hsl: var(--text-light-2-hsl);
		--surface-1: var(--surface-light-1);
		--surface-2: var(--surface-light-2);
		--bg: var(--bg-light);
		--border: var(--border-light);
}

html,
body {
	height: 100%;
}

html {
	color: var(--text-1);
	accent-color: var(--primary-1);
	background-color: var(--bg);
	font-weight: var(--font-weight-500);
	font-size: var(--font-size-2);
}

ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-inline-start: 0;
}

button {
	background-color: transparent;
	color: var(--text-2);
	padding: 0;
}

a {
	color: inherit;
	padding: 0;
	text-decoration: none;
}

.surface {
	--_bg-clr: var(--bg-clr, tranparent);
	--_text-clr: var(--text-clr, inherit);
	
	background-color: var(--_bg-clr);
	color: var(--_text-clr);
}

.surface--base-1 {
	--bg-clr: var(--surface-1);
	--text-clr: var(--text-2);
}

.surface--base-2 {
	--bg-clr: var(--surface-2);
	--text-clr: var(--text-2);
}

.surface--primary-1 {
	background-color: var(--primary-1);
	color: white;
}

.surface--primary-2 {
	background-color: var(--primary-2);
	color: white;
}

.text {
	--_weight: var(--weight, var(--font-weight-4));
	--_size: var(--size, var(--font-size-2));

	font-weight: var(--_weight);
	font-size: var(--_size);
}

.text--heading-xl,
.text--heading-l,
.text--heading-m,
.text--heading-s,
.text--body-m {
	--weight: var(--font-weight-7);
}

.text--heading-xl {
	--size: var(--font-size-4);
}

@media (--md-n-above) {
	.text--heading-xl {
		--size: var(--font-size-5);
	}
}

@media (--lg-n-above) {
	.text--heading-xl {
		--size: var(--font-size-6);
	}
}

.text--heading-l {
	--size: var(--font-size-4);
}

.text--heading-m {
	--size: var(--font-size-3);
}

.text--heading-s {
	--size: var(--font-size-1);
}

.text--body-l {
	--size: var(--font-size-2);
}

.text--body-m {
	--size: var(--font-size-1);
}

.btn {
	--_f-size: var(--f-size, var(--font-size-2));
	--_p-inline: var(--p-inline, var(--size-3));
	--_p-block: var(--p-block, var(--size-2));
	--_clr: var(--clr, inherit);
	--_bg-clr: var(--bg-clr, tranparent);
	--_bg-hover: var(--bg-hover, tranparent);

	border-radius: var(--radius-4);
	font-weight: var(--font-weight-7);
	font-size: var(--_f-size);
	padding-inline: var(--_p-inline);
	padding-block: var(--_p-block);
	transition: background-color ease-in 150ms;
	background-color: var(--_bg-clr);
	color: var(--_clr);

	&:hover {
		background-color: var(--_bg-hover);
	}
}

.btn--large {
	--f-size: var(--font-size-3);
	--p-block: var(--size-3);
	--p-inline: var(--size-5);
}

.btn--primary {
	--bg-clr: var(--primary-1);
	--bg-hover: var(--primary-2);
	--clr: white;
}

.btn--secondary {
	--bg-clr: hsl(var(--primary-1-hsl) / 10%);
	--bg-hover: hsl(var(--primary-1-hsl) / 25%);
	--clr: var(--primary-1);

	[color-scheme='dark'] & {
		--bg-clr: white;
		--bg-hover: white;
	}
}

.btn--danger {
	--bg-clr: var(--danger-1);
	--bg-hover: var(--danger-2);
	--clr: white;
}

.input {
	border-radius: var(--radius-2);
	border: 1px solid hsl(var(--text-2-hsl) / 25%);
	outline: none;
	color: var(--text-1);
	padding-inline: var(--size-3);
	padding-block: var(--size-2);
	background-color: var(--surface-2);
	width: 100%;
}

.input:focus {
	border-color: var(--primary-1);
}

.overlay {
	background-color: var(--overlay);
	position: fixed;
	inset: 0;
	z-index: 50;
}

.nav-item {
	display: flex;
	align-items: center;
	height: 48px;
	border-end-end-radius: var(--radius-round);
	border-start-end-radius: var(--radius-round);
	font-size: var(--font-size-3);
	transition: background-color 300ms var(--ease-5);
}

.nav-item:is(:not(.active)):hover {
	color: var(--primary-1);
}

.nav-item:is(:not(.active)):hover  svg path {
	fill: var(--primary-1);
}


[color-scheme='dark'] .nav-item:is(:not(.active)):hover {
	background-color: white;
}

[color-scheme='light'] .nav-item:is(:not(.active)):hover {
	background-color: hsl(var(--primary-1-hsl) / 10%);
}

.nav-item > span {
	display: flex;
	align-items: center;
	gap: var(--size-2);
}

.nav-item.active {
	color: white;
	background-color: var(--primary-1);
}

.nav-item.active svg path {
	fill: white;
}

.modal-shell {
	display: grid;
	gap: var(--size-5);
	max-height: 90dvh;
	overflow-y: scroll;
	position: fixed;
	border-radius: var(--radius-3);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(calc(100% - 2 * var(--size-3)), 480px);
	padding: var(--size-5);
	background-color: var(--surface-2);

	@media (--md-n-above) {
		& {
			padding: var(--size-7);
		}
	}
}

.z-1 {
	z-index: 10;
}

.z-2 {
	z-index: 20;
}

.z-3 {
	z-index: 30;
}

.z-4 {
	z-index: 40;
}
